
body {
  font-family: sans-serif;
}
header div {
  display: inline-block;
  vertical-align:middle;
  margin-right: 50px;
}

#N64PEDIA {
  margin-left: 20px;
}

#inputBar {
  vertical-align: middle;
  padding: 0;
  height: 30px;
  width: 500px;
}

#submitButton {
  background-color: white;
  height: 33px;
  width:  70px;
  margin-right: 400px;
  box-shadow: none;
  
}

#content-title {
  margin-left: 40px
}

#talk {
  margin-right: 500px;
}

#wr-gameplay {
  width: 240px;
  height: 150px;
}


.gp-p1-container {
  display: flex;
  flex-direction: row;
  margin-right:-100px
}

.gameplay-figure {
  margin: 4;
}

.first-paragraph-gp {
  margin-right: -4;
}


.body-of-site {
  padding:10;
  display: flex;
  flex-direction: row;
}

.middle-of-body {
  display: flex;
  flex-direction: column;
}

.body-title {
  vertical-align: middle;
  font-style: italic;
  margin-left:40px;
 
}

.useritems {
  list-style-type: none;
  padding: 0;
}

.useritems li {
  display: inline-block;
  margin-right: 10px;
}

.pinned-container li {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  margin-right: 100px;
}

.body-content p {
 
  margin-left: 40px;
}

.right-side {

  margin-top:140px;
  height:500px;

}

.body-content h2 {
  margin-top: 40px;
  margin-left: 40px;
}

.tool-bar li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

.gameplay-figure{
  border: 1px solid #a2a9b1;
  border-spacing: 3px;
  background-color: #f8f9fa;
  color: black;
  padding:0.3em;
  line-height: 1.5em;
  max-width: 240px;
  font-size: 70%;
  text-align: left;

}

.infobox {
  border: 1px solid #a2a9b1;
  border-spacing: 3px;
  background-color: #f8f9fa;
  color: black;
  margin: -1em 0 0.5em -14em;
  padding: 0.2em;
  float: right;
  clear: right;
  line-height: 1.5em;
  width:22em;
  font-size: 88%;

  
}

.first-paragraph-top, .second-paragraph-top {
  max-width: 550px;
}

.first-paragraph-gp, .second-paragraph-gp, .third-paragraph-gp {
  max-width:750px;
}

#pic-info {
  text-align: center;
}
